@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
	position: relative;
	width: 100%;
	height: 700px;

	/* Rosa */

	background: #FAD8D6;
}

.limudev {
	/* Limudev */
	position: absolute;
	width: 294px;
	height: 67px;
	left: 36px;
	top: 0px;
	margin-top: 12px;
	font-family: Montserrat, Sans-Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 55px;

	/* Text - Black */

	color: #2E282A;
}

.navbar {
	/* Rectangle 1 */

	position: absolute;
	width: 100%;
	height: 100px;
	left: -15px;
	top: -15px;

	/* Aqua */

	background: #17BEBB;
}
.icon {
	position: absolute;
	left: 0%;
	right: 0%;
	top: 12.5%;
	bottom: 12.5%;
}

.text2 {
	/* We are working to make this site a better place. */


	position: absolute;
	width: 504px;
	height: 105px;
	right: 141px;
	top: 329px;

	font-family: Montserrat, Sans-Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 40px;
	line-height: 49px;

	color: #000000;
}

.text1 {
	/* This web will be available soon... */


	position: absolute;
	width: 563px;
	height: 162px;
	right: 82px;
	top: 196px;

	font-family: Montserrat, Sans-Serif;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 73px;

	color: #000000;
	}

.circle {
	/* Ellipse 1 */

	border-radius: 50%;
	position: absolute;
	width: 1061px;
	height: 1061px;
	right: -281px;
	top: -181px;

	/* Orange */

	background: #EDB88B;
}

.divicon {
	position: absolute;
width: 550px;
height: 550px;
left: calc(50% - 550px/2 - 383px);
top: calc(50% - 620px/2 + 19px);

}
html {
	overflow-x: hidden;
}